{:source-paths ["src"]
 :dependencies [
                [org.clojure/clojure "1.9.0"]]
 :builds       {:app {:target    :node-script
                      :output-to "target/main.js"
                      :main      server.main/main!
                      :devtools  {:after-load server.main/reload!}}}}